.selected {
  color: red;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 300px;
  flex-direction: column;
  list-style: none;
}

.pagination {
  width: 300px;
  @media (min-width: 500px) {
    width: 370px;
    & button {
      min-width: 33px;
      height: 33px;
    }
  }
  & button {
    min-width: 23px;
    height: 23px;
  }
}
