.item {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.ava__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ava {
}

.btn {
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
