.btn {
  display: block;
  padding: 10px 15px;
  border: 1px solid #285f8f;
  width: 100%;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  border-radius: 5px;
  background-image: linear-gradient(#4f93ce, #285f8f);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(#63a0d4, #337ab7);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
